{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Предсказания ИПЦ методом ARIMA (2,0,2)</h1>
<form method="post">
    <select name="options">
        {% for option in options %}
            <option value="{{ option }}" {% if option == selected_option %}selected{% endif %}>{{ option }}</option>
        {% endfor %}
    </select>
    <button type="submit">Predict</button>
</form>
{% if calculation_result %}
    <h2>Calculation Result</h2>
    <pre>{{ calculation_result }}</pre>
{% endif %}
{% if selected_image %}
    <h2>Forecasted Image</h2>
    <img src="{{ url_for('static', filename='image.jpg') }}" alt="Forecast Image">
{% endif %}
{% endblock %}

